<!DOCTYPE html>
<html>
<head>
  <title>YourHelp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar grid-x">
    <div class="top-bar-logo">
      <h1><a href="/" style="color: white;">Your-Help</a></h1>
    </div>
    <section>
        <div class="top-bar-charities-button">
          <%= link_to 'Charities', charities_path %>
        </div>
        <div class="top-bar-events-button style="color: white;"">
          <%= link_to 'Events', events_path %>
        </div>
    </section>

    <section class="top-bar-right-section large-2 columns">
      <div class="top-bar-signout-button">
        <%- if current_user -%>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <div class="top-bar-signup-buttons">
            <%= link_to 'Sign Up', new_user_registration_path %>
            <%= link_to 'Sign In', new_user_session_path %>
          </div>
        <%- end -%>
      </div>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
